<section id="main">
  <main>
    <h2 class="title"><span>Our Most Popular Deals</span></h2>

    <div class="container main-deals">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-md-6 text-end">
          <img
            src="assets/images/pizzaDeal-1.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
        </div>
        <div class="col-md-6 text-start mt-3 mt-md-0">
          <img
            src="assets/images/pizzaDeal-2.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3 mt-3 mt-md-4">
          <img
            src="assets/images/pizzaDeal-2.jpg"
            class="img-fluid"
            alt=""
            srcset=""
          />
        </div>
      </div>

      <div class="d-grid gap-2">
        <a href="pizza.html" class="btn view-details btn-success mt-5 mb-5"
          >View Deals</a
        >
      </div>
    </div>
  </main>
</section>
