<section id="footer">
  <footer class="black">
    <div class="container p-5">
      <div class="row text-center d-md-flex align-items-center mb-5">
        <div class="col-12 col-md-3 pt-2">
          <img
            src="assets/images/logowhite.png"
            class="img-fluid logo logofooter"
            alt=""
            srcset=""
          />
        </div>
        <div class="col-4 col-md-3 text-left">
          <h2 class="typographyh2">Order Now</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Pizza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Drinks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Desserts</a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-md-3 text-left">
          <h2 class="typographyh2">About</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactless Delievery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nutrition</a>
            </li>
          </ul>
        </div>

        <div class="col-4 col-md-3 text-left">
          <h2 class="typographyh2">Our Policies</h2>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Terms and Condition</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Responsible disclosure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQs & Help</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <img
          src="assets/images/applelogo.png"
          class="play-logo"
          alt=""
          srcset=""
        />
        <img
          src="assets/images/google-logo.png"
          class="play-logo"
          alt=""
          srcset=""
        />
      </div>
      <div class="social-media mt-5">
        <div class="text-center">
          <h6 class="typographyh2">Follow Us</h6>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <a href="#">
            <i class="btn-floating fab fa-google-plus-g"></i>
          </a>
          <a href="#">
            <i class="btn-floating fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="btn-floating fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="btn-floating fab fa-twitter"></i>
          </a>
          <a href="#"> <i class="btn-floating fab fa-youtube"></i></a>
        </div>
      </div>
      <span class="d-flex justify-content-center align-items-center">
        <hr />
      </span>
      <div class="text-center copyright">
        <i class="far fa-copyright"></i> {{year}} All Right Reserved
      </div>
    </div>
  </footer>
</section>
